.cardItem {
  background: rgb(106, 100, 100);
  padding: 20px 20px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid rgb(215, 215, 215);
  margin-bottom: 10px;
  text-align: center;
}

.cardImage {
  width: 70%;
}
